<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-knowledge-central-heading"
        data-cy="KnowledgeCentralCreateUpdateHeading"
        jhiTranslate="employeeApp.knowledgeCentral.home.createOrEditLabel"
      >
        Create or edit a Knowledge Central
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.knowledgeCentral.averageResult" for="field_averageResult"
            >Average Result</label
          >
          <input
            type="number"
            class="form-control"
            name="averageResult"
            id="field_averageResult"
            data-cy="averageResult"
            formControlName="averageResult"
          />
          <div
            *ngIf="
              editForm.get('averageResult')!.invalid && (editForm.get('averageResult')!.dirty || editForm.get('averageResult')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('averageResult')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('averageResult')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be more than 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('averageResult')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.knowledgeCentral.candidateTaken" for="field_candidateTaken"
            >Candidate Taken</label
          >
          <select
            class="form-control"
            id="field_candidateTaken"
            data-cy="candidateTaken"
            name="candidateTaken"
            formControlName="candidateTaken"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                candidateOption.id === editForm.get('candidateTaken')!.value?.id ? editForm.get('candidateTaken')!.value : candidateOption
              "
              *ngFor="let candidateOption of candidateTakensCollection; trackBy: trackCandidateById"
            >
              {{ candidateOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
