<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="training">
      <h3 data-cy="trainingDetailsHeading"><span jhiTranslate="employeeApp.training.detail.title">Training</span></h3>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="card text-center mt-4">
        <div class="card-body">
          <h3 class="card-title">On the Job Training</h3>
          <p class="card-text">Date : 23-Aug-2022 11:40 am</p>
          <p class="card-text text-end">Basics</p>
        </div>
      </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item mt-5">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Old Training Detail
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
        </div>
      </div>




      <!--<dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ training.id }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.training.startDate">Start Date</span></dt>
        <dd>
          <span>{{ training.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.training.startTime">Start Time</span></dt>
        <dd>
          <span>{{ training.startTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.training.endTime">End Time</span></dt>
        <dd>
          <span>{{ training.endTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.training.endDate">End Date</span></dt>
        <dd>
          <span>{{ training.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.training.type">Type</span></dt>
        <dd>
          <span>{{ training.type }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.training.repeats">Repeats</span></dt>
        <dd>
          <span>{{ training.repeats }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.training.candidateList">Candidate List</span></dt>
        <dd>
          <div *ngIf="training.candidateList">
            <a [routerLink]="['/candidate', training.candidateList?.id, 'view']">{{ training.candidateList?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/training', training.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>-->


    </div>
  </div>
</div>