<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h3 id="jhi-interview-heading" data-cy="InterviewCreateUpdateHeading"
        jhiTranslate="employeeApp.interview.home.createOrEditLabel">
        Create or edit a Interview
      </h3>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!--<div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>-->

        <div class="row mb-3 py-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.interviewName"
            for="field_interviewName"></label>
          <div class="d-flex">
            <input type="text" class="form-control" name="interviewName" id="field_interviewName"
              data-cy="interviewName" formControlName="interviewName" />
          </div>
        </div>

        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.scheduledDate" for="field_scheduledDate">Scheduled Date</label>
          <div class="input-group">
            <input
              id="field_scheduledDate"
              data-cy="scheduledDate"
              type="text"
              class="form-control"
              name="scheduledDate"
              ngbDatepicker
              #scheduledDateDp="ngbDatepicker"
              formControlName="scheduledDate"
            />
            <button type="button" class="btn btn-secondary" (click)="scheduledDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('scheduledDate')!.invalid && (editForm.get('scheduledDate')!.dirty || editForm.get('scheduledDate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('scheduledDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>-->

        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.startTime" for="field_startTime">Start Time</label>
          <div class="d-flex">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="datetime-local"
              class="form-control"
              name="startTime"
              formControlName="startTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>-->

        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.endTime" for="field_endTime">End Time</label>
          <div class="d-flex">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="datetime-local"
              class="form-control"
              name="endTime"
              formControlName="endTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>-->

        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.resceduled" for="field_resceduled">Resceduled</label>
          <input
            type="number"
            class="form-control"
            name="resceduled"
            id="field_resceduled"
            data-cy="resceduled"
            formControlName="resceduled"
          />
        </div>-->

        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.Name" for="field_Name">Name</label>
          <input
            type="text"
            class="form-control"
            name="Name"
            id="field_Name"
            data-cy="Name"
            formControlName="Name"
          />
        </div>-->

        <div class="row mb-3 py-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.rescheduleDate"
            for="field_rescheduleDate">Reschedule Date</label>
          <div class="input-group">
            <input id="field_rescheduleDate" data-cy="rescheduleDate" type="text" class="form-control"
              name="rescheduleDate" ngbDatepicker #rescheduleDateDp="ngbDatepicker" formControlName="rescheduleDate" />
            <button type="button" class="btn btn-secondary" (click)="rescheduleDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.rescheduleStartTime" for="field_rescheduleStartTime"
            >Reschedule Start Time</label
          >
          <div class="d-flex">
            <input
              id="field_rescheduleStartTime"
              data-cy="rescheduleStartTime"
              type="time"
              class="form-control"
              name="rescheduleStartTime"
              formControlName="rescheduleStartTime"
              placeholder="HH:mm tt"
            />
          </div>
        </div>-->

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.rescheduleEndTime"
            for="field_rescheduleEndTime">Reschedule End Time</label>
          <div class="d-flex">
            <input id="field_rescheduleEndTime" data-cy="rescheduleEndTime" type="time" class="form-control"
              name="rescheduleEndTime" formControlName="rescheduleEndTime" placeholder="00:00" />
          </div>
        </div>

        <div class="row py-3">
          <div class="col">
            <label class="form-label" jhiTranslate="employeeApp.interview.rescheduleStartTime"
              for="field_rescheduleStartTime">Reschedule Start Time</label>
            <div class="d-flex">
              <input id="field_rescheduleStartTime" data-cy="rescheduleStartTime" type="time" class="form-control"
                name="rescheduleStartTime" formControlName="rescheduleStartTime" placeholder="hh:mm" />
            </div>
          </div>
          <div class="col">
            <label class="form-label" jhiTranslate="employeeApp.interview.rescheduleEndTime"
              for="field_rescheduleEndTime">Reschedule End Time</label>
            <div class="d-flex">
              <input id="field_rescheduleEndTime" data-cy="rescheduleEndTime" type="time" class="form-control"
                name="rescheduleEndTime" formControlName="rescheduleEndTime" placeholder="hh:mm" />
            </div>
          </div>
        </div>

        <div class="form-check py-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Approve the change in time
          </label>
        </div>
      </div>


      <div class="d-grid gap-2 col-2 mx-auto py-1">
        <!-- <button class="btn btn-primary" type="button" padding="15px 32px">Confirm</button> -->
        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>

      <!--<button
          type="confirm"
          id="confirm-entity"
          data-cy="entityCreateConfirmButton"
          [disabled]="editForm.invalid || isConfirming"
          class="btn btn-primary"
        >
          <fa-icon icon="confirm"></fa-icon>&nbsp;<span jhiTranslate="entity.action.confirm">Confirm</span>
        </button>

      <div class="row mb-3">-->
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.rescheduleApproved" for="field_rescheduleApproved"
            >Approve the change in time</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="pprove the change in time"
            id="field_rescheduleApproved"
            data-cy="rescheduleApproved"
            formControlName="rescheduleApproved"
          />
        </div>-->

      <!-- <div class="row mb-3">
        <label class="form-label" jhiTranslate="employeeApp.interview.interviewStatus"
          for="field_interviewStatus">Interview Status</label>
        <select class="form-control" name="interviewStatus" formControlName="interviewStatus" id="field_interviewStatus"
          data-cy="interviewStatus">
          <option [ngValue]="null">{{ 'employeeApp.InterviewStatus.null' | translate }}</option>
          <option *ngFor="let interviewStatus of interviewStatusValues" [value]="interviewStatus">
            {{ 'employeeApp.InterviewStatus.' + interviewStatus | translate }}
          </option>
        </select>
      </div>

      <div class="row mb-3">
        <label class="form-label" jhiTranslate="employeeApp.interview.interviewBy" for="field_interviewBy">Interview
          By</label>
        <select class="form-control" id="field_interviewBy" data-cy="interviewBy" name="interviewBy"
          formControlName="interviewBy">
          <option [ngValue]="null"></option>
          <option [ngValue]="
                candidateOption.id === editForm.get('interviewBy')!.value?.id ? editForm.get('interviewBy')!.value : candidateOption
              " *ngFor="let candidateOption of interviewBiesCollection; trackBy: trackCandidateById">
            {{ candidateOption.id }}
          </option>
        </select>
      </div> -->

      <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.rescheduleApprovedBy" for="field_rescheduleApprovedBy"
            >Reschedule Approved By</label
          >
          <select
            class="form-control"
            id="field_rescheduleApprovedBy"
            data-cy="rescheduleApprovedBy"
            name="rescheduleApprovedBy"
            formControlName="rescheduleApprovedBy"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                candidateOption.id === editForm.get('rescheduleApprovedBy')!.value?.id
                  ? editForm.get('rescheduleApprovedBy')!.value
                  : candidateOption
              "
              *ngFor="let candidateOption of rescheduleApprovedBiesCollection; trackBy: trackCandidateById"
            >
              {{ candidateOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeApp.interview.interviewFor" for="field_interviewFor">Interview For</label>
          <select class="form-control" id="field_interviewFor" data-cy="interviewFor" name="interviewFor" formControlName="interviewFor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                candidateOption.id === editForm.get('interviewFor')!.value?.id ? editForm.get('interviewFor')!.value : candidateOption
              "
              *ngFor="let candidateOption of interviewForsCollection; trackBy: trackCandidateById"
            >
              {{ candidateOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>

  </div>-->
    </form>
  </div>
</div>