<div class="container">
    <div class="row">
        <!-- <div class="offset-1 col-xs-8 col-md-4 col-xl-2">
            <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
              </button>
        </div> -->

        <div class="col-12">
            <h2 id="page-heading" data-cy="PostHeading">
                <span>{{post?.postName}}</span>
            </h2>
        </div>
        <div class="col-xs-12 col-md-6 p-3">
            <div class="card bg-light">
                <div class="card-body">
                    {{post?.description}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 p-3">
            <div class="card bg-light">
                <div class="card-body">
                    {{post?.responsibility}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 p-3">
            <h3>{{post?.roles}}</h3>
        </div>
        <div class="col-xs-12 col-md-6 p-3">
            <span class="m-3">
                <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>
            </span>
            <span class="m-3">
                <button type="submit" (click)="applyButton()" class="btn btn-success" data-cy="entityDetailsBackButton">
                    <fa-icon icon="check"></fa-icon>&nbsp;<span>Apply</span>
                </button>
            </span>
        </div>
    </div>
</div>