<div>
  <h2 id="page-heading" data-cy="TrainingHeading">
    <span jhiTranslate="employeeApp.training.home.title">Trainings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="employeeApp.training.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-training"
        [routerLink]="['/training/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="employeeApp.training.home.createLabel"> Create a new Training </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trainings?.length === 0">
    <span jhiTranslate="employeeApp.training.home.notFound">No trainings found</span>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="by-trainer-tab"
        data-bs-toggle="tab"
        data-bs-target="#by-trainer-tab-pane"
        type="button"
        role="tab"
        aria-controls="by-trainer-tab-pane"
        aria-selected="true"
      >
        Trainer
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="user-tab"
        data-bs-toggle="tab"
        data-bs-target="#user-tab-pane"
        type="button"
        role="tab"
        aria-controls="user-tab-pane"
        aria-selected="false"
      >
        User
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="range-tab"
        data-bs-toggle="tab"
        data-bs-target="#range-tab-pane"
        type="button"
        role="tab"
        aria-controls="range-tab-pane"
        aria-selected="false"
      >
        Range
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active md-2" id="by-trainer-tab-pane" role="tabpanel" aria-labelledby="by-trainer-tab" tabindex="0">
      <div class="table-responsive" id="entities--1">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <p>Trainer</p>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="user-tab-pane" role="tabpanel" aria-labelledby="user-tab" tabindex="0">
      <div class="table-responsive" id="entities--1">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <p>User</p>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="range-tab-pane" role="tabpanel" aria-labelledby="range-tab" tabindex="0">
      <div class="table-responsive" id="entities--1">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <p>Range</p>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="table-responsive" id="entities" *ngIf="trainings && trainings.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col"><span jhiTranslate="employeeApp.training.startDate">Start Date</span></th>
            <th scope="col"><span jhiTranslate="employeeApp.training.startTime">Start Time</span></th>
            <th scope="col"><span jhiTranslate="employeeApp.training.endTime">End Time</span></th>
            <th scope="col"><span jhiTranslate="employeeApp.training.endDate">End Date</span></th>
            <th scope="col"><span jhiTranslate="employeeApp.training.type">Type</span></th>
            <th scope="col"><span jhiTranslate="employeeApp.training.repeats">Repeats</span></th>
            <th scope="col"><span jhiTranslate="employeeApp.training.candidateList">Candidate List</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let training of trainings; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/training', training.id, 'view']">{{ training.id }}</a>
            </td>
            <td>{{ training.startDate | formatMediumDate }}</td>
            <td>{{ training.startTime | formatMediumDatetime }}</td>
            <td>{{ training.endTime | formatMediumDatetime }}</td>
            <td>{{ training.endDate | formatMediumDate }}</td>
            <td>{{ training.type }}</td>
            <td>{{ training.repeats }}</td>
            <td>
              <div *ngIf="training.candidateList">
                <a [routerLink]="['/candidate', training.candidateList?.id, 'view']">{{ training.candidateList?.id }}</a>
              </div>
            </td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/training', training.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/training', training.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(training)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
