<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="knowledge">
      <h3 data-cy="knowledgeDetailsHeading"><span jhiTranslate="employeeApp.knowledge.detail.title">Knowledge</span>
      </h3>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="card text-center mt-4">
        <div class="card-body">
          <h3 class="card-title">On the Job Training</h3>
          <div class="row py-3 mt-4">
            <div class="col-7">
              <p class="card-text"> Marks : {{knowledge.result}}</p>
              <div [ngClass]="{'background-color': knowledge.result?'green':'red'}">
                <!-- {{knowledge.result ? 'Pass':'Fail'}} -->
              </div>
            </div>
            <div class="col-3">
              <p class="card-text">Grade : A</p>
            </div>
            <p class="card-text mt-4">Test taken on : 26-Aug-2022, 11:45 am</p>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-info d-grid gap-2 col-3 mx-auto mt-5">
        <span jhiTranslate="employeeApp.knowledge.certificate">Download Certificate</span>
        <div *ngIf="knowledge.certificate">
          <a (click)="openFile(knowledge.certificate, knowledge.certificateContentType)">
            <img [src]="'data:' + knowledge.certificateContentType + ';base64,' + knowledge.certificate"
              style="max-width: 100%" alt="knowledge image" />
          </a>
          {{ knowledge.certificateContentType }}, {{ byteSize(knowledge.certificate) }}
        </div>
      </button>


      <!-- <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ knowledge.id }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.knowledge.result">Result</span></dt>
        <dd>
          <span>{{ knowledge.result }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.knowledge.testTaken">Test Taken</span></dt>
        <dd>
          <span>{{ knowledge.testTaken | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.knowledge.certificate">Certificate</span></dt>
        <dd>
          <div *ngIf="knowledge.certificate">
            <a (click)="openFile(knowledge.certificate, knowledge.certificateContentType)">
              <img
                [src]="'data:' + knowledge.certificateContentType + ';base64,' + knowledge.certificate"
                style="max-width: 100%"
                alt="knowledge image"
              />
            </a>
            {{ knowledge.certificateContentType }}, {{ byteSize(knowledge.certificate) }}
          </div>
        </dd>
        <dt><span jhiTranslate="employeeApp.knowledge.tests">Tests</span></dt>
        <dd>
          <div *ngIf="knowledge.tests">
            <a [routerLink]="['/tested', knowledge.tests?.id, 'view']">{{ knowledge.tests?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="employeeApp.knowledge.candidateTaken">Candidate Taken</span></dt>
        <dd>
          <div *ngIf="knowledge.candidateTaken">
            <a [routerLink]="['/candidate', knowledge.candidateTaken?.id, 'view']">{{ knowledge.candidateTaken?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/knowledge', knowledge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>  -->
    </div>
  </div>
</div>