<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="options">
      <h2 data-cy="optionsDetailsHeading"><span jhiTranslate="employeeApp.options.detail.title">Options</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ options.id }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.options.optionName">Option Name</span></dt>
        <dd>
          <span>{{ options.optionName }}</span>
        </dd>
        <dt><span jhiTranslate="employeeApp.options.questions">Questions</span></dt>
        <dd>
          <div *ngIf="options.questions">
            <a [routerLink]="['/questions', options.questions?.id, 'view']">{{ options.questions?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/options', options.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
