<div>
  <h2 id="page-heading" data-cy="OptionsHeading">
    <span jhiTranslate="employeeApp.options.home.title">Options</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="employeeApp.options.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-options"
        [routerLink]="['/options/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="employeeApp.options.home.createLabel"> Create a new Options </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="options?.length === 0">
    <span jhiTranslate="employeeApp.options.home.notFound">No options found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="options && options.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="employeeApp.options.optionName">Option Name</span></th>
          <th scope="col"><span jhiTranslate="employeeApp.options.questions">Questions</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let options of options; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/options', options.id, 'view']">{{ options.id }}</a>
          </td>
          <td>{{ options.optionName }}</td>
          <td>
            <div *ngIf="options.questions">
              <a [routerLink]="['/questions', options.questions?.id, 'view']">{{ options.questions?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/options', options.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/options', options.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(options)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
